.container {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 5vh; /* margin between the components */
  border: 2px solid transparent;
}

.root {
  max-width: 90%;
  justify-content: space-between;
  margin: 3% auto;
}
.media {
  height: 0;
  padding-top: 56.25%;
}

.actionContainer {
  justify-content: space-between;
}

.container:hover {
  transform: scale(1.008);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

div .demoBtn {
  background-color: rgb(255, 149, 73);
  padding: 6px 20px;
  border-radius: 0;
}

div .demoBtn:hover {
  background-color: rgb(255, 112, 10);
  border-radius: 10%;
}

div .learnMoreBtn {
  background-color: white;
  height: 35px;
  border: 2px solid rgb(216, 58, 255);
}

div .learnMoreBtn:hover {
  color: black;
  background-color: rgb(216, 58, 255);
}

.learnMoreBtn .learnMoreIcon {
  margin-left: 3px;
  padding: 0;
}

.learnMoreBtn:hover .learnMoreIcon {
  transform: translateX(10px);
  transition: 0.2s ease-in-out;
  background-color: rgba(10, 10, 10, 0.658);
  color: white;
}
