.root {
  flex-grow: 1;
}

div .container {
  font-family: "Roboto Condensed", sans-serif !important;
}

.navBarContent {
  justify-content: flex-end;
}

.title,
.titleSM {
  display: block;
  color: rgba(255, 255, 255, 0.692);
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
}

.githubIconContainerSM,
.githubIconContainer {
  flex-grow: 1;
  justify-content: initial;
  margin-left: 20px;
}

/* for small screen size devices */
@media only screen and (max-width: 767.98px) {
  div .title {
    font-size: 17px;
  }
  .titleSM {
    display: none;
  }
  .githubIconContainer {
    margin-left: 5px;
  }

  .githubIconContainerSM {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  div .title,
  .titleSM {
    font-size: 16px;
  }
  .githubIconContainerSM button,
  .githubIconContainer button {
    padding: 7px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .title,
  .titleSM {
    display: none;
  }
  .githubIconContainerSM,
  .githubIconContainer {
    margin-left: 0;
  }
}
