div .title {
  flex-grow: 1;
  display: block;
  color: rgba(255, 255, 255, 0.692);
  font-family: "Roboto Condensed", sans-serif !important;
}

div .container {
  background-color: rgba(58, 58, 63, 0.486);
  font-family: "Roboto Condensed", sans-serif !important;
}
.root {
  flex-grow: 1;
}

@media only screen and (max-width: 495.98px) {
  div .title {
    display: none;
  }
}
