div .menuButton {
  margin-right: 16px;
}

div .search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.158);

  width: auto;
}

div .search:hover {
  background-color: rgba(255, 255, 255, 0.258);
}

div .searchIcon {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.767);
}

div .inputRoot {
  color: inherit;
  font-family: "Roboto Condensed", sans-serif !important;
}

div .inputInput {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 30ch;
}

div .inputInput:focus {
  width: 45ch;
}

ul.suggestionContainerClosed {
  display: none;
}

ul.suggestionContainerOpen {
  display: block;
  position: absolute;
  background-color: white;
  width: calc(45ch + 56px);
  padding: 0;
  margin-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.suggestionContainerOpen div:nth-child(1) {
  padding-top: 8px;
}

.suggestionContainerOpen div:last-child {
  border-bottom: none;
}

.suggestionContainerOpen div {
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #f2f2f2;
}

.suggestionContainerOpen div:hover {
  background-color: #f2f2f2;
}

ul .suggestionIcon {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 16px;
  margin-right: 16px;
}
ul .suggestionText {
  color: black;
  list-style-type: none;
}

.suggestionText em {
  font-style: normal;
  color: rgb(136, 135, 135);
}

.selected {
  background-color: #f2f2f2;
}

.toolTip {
  height: 12px !important;
  background-color: rgba(255, 217, 0, 0.555) !important;
  padding: 10px !important;
  padding-top: 5px !important;
  font-size: 12px !important;
}

.toolTipArrow {
  margin-right: 70% !important;
}

/* for small screen size devices */
@media only screen and (max-width: 767.98px) {
  div.searchContainer {
    width: fit-content;
    max-width: 100%;
  }

  ul.suggestionContainerOpen {
    width: 90vw;
    padding: 10px 0;
    padding-right: 16px;
  }

  div .search {
    margin-left: 0;
    width: 100%;
  }
  div .inputInput {
    width: 50vw;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 15px;
    padding-bottom: 9px;
    padding-top: 9px;
  }

  div .inputInput:focus {
    width: 100vw;
  }

  div .inputRoot {
    width: 100%;
  }
}
